node_modules/
__pycache__/
*.py[cod]
minerU/MinerU_2_5_4/
minerU/.vite/
minerU/Dockerfile
.vite/
backend/mineru_visualizations/
backend/Database/milvus_server/data/volumes/
backend/output/
backend/logs/
backend/pids/
frontend/backend/
frontend/node_modules/
*.log
.env
backend/knowledge-management/mysql/data/
